//- Page szafy.pug
extends ../layout

block vars
  - var id = "szafy"
  - var title = "Szafy na wymiar"
  - var pageTitle = "Szafy na wymiar"
  - var pageDesc = "Oferujemy szafy na wymiar"

block append header
  - locals.path= id;
  include ../includes/header


block append content
  .main__content.waredrobes
    .row
      .col-sm-6
        .main__header.text-uppercase.text-center
          h2
            | Szafy na wymiar
        .main__copy.text-center
          p.
            Szafy na wymiar, to dzisiaj najbardziej typowe i nowoczesne rozwiązanie.
            Pozwala wykorzystać każdą przestrzeń w domu, jednocześnie podnosząc funkcjonalność, wystrój i styl pomieszczenia.
          p.
            Moje zabudowy cechuje: praktyczność, elegancja, nowoczesny wygląd oraz nieskończona możliwość łączenia kilku materiałów
            (np. płyty, lustra i szkła) co pozwala na uzyskiwanie wyjątkowych i niepowtarzalnych rozwiązań.
            #[br]
            Dodatkowo każda szafa jest objęta kilkuletnia gwarancja.
          p
            | #[strong Szafa na wymiar może być wyposażona w:]
            br
            | drzwi przesówne, drzwi na zawiasach, półki, szuflady, drążki (rurkowe, wysuwane, pantografy), specjalne wieszaki do krawatów i pasków, kosze druciane (na bieliznę), kosze Cago, stelaże na akcesoria odkurzacza, deski do prasowania, Uchwyty na żelazko, oświetlenie ledowe, szczotki uszczelniające i buforowe.
        include  ../components/appointment
      .col-sm-6
        .main__carousel__big
          img(src=require("../../img/szafy/26.jpg") class="img-responsive" alt="" id="carouselBig")
    .carousel__row
      ul.carousel__list.list-unstyled#carouselList
        - var n = 1
        while n <= 42
          li.carousel__item
            a(href=require(`../../img/szafy/${n}.jpg`) data-size="900x900" class="carousel__item__link")
              img(src=require(`../../img/szafy/${n}.jpg`) class="img-responsive carousel__img" alt=`Szafa-${n}`)
              - n++

block footer
  include ../includes/footer
